
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}
.delete_student_modal {
    position: fixed;
    width: 400px;
    top: 100px;
    left: calc(100% / 2 - 200px);
    background-color: white;
    display: none;
    z-index: 99;
    border: 3px solid #007bff;
    border-radius: .25rem;
    padding: 10px;
    max-height: 600px;
}
.student_image {
    width: 480px;
    height: 640px;
    border-radius: .25rem;
}
.left, .right {
    width: 10%;
}
.middle {
    justify-content: center;
    margin: auto;
    width: 80%;
    display: flex   ;
}