{% load bootstrap_tags %}
<form id="create_form" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form | as_bootstrap_inline }}
    <button type="button" class="create_student btn btn-primary">Create</button>
    <button type="button" class="cancel_create btn btn-primary">Cancel</button>
</form>


