{% load bootstrap_tags %}
{% load core_tags %}

{% with pk=form.instance.pk  %}
<td>
    <form id="form_{{ pk }}" method="post" enctype="multipart/form-data" novalidate>
         {%csrf_token %}
    </form>
    {{ pk }}
</td>
    {% for field in form %}
        <td>{{ field|add_form_id:pk }}</td>
    {% endfor %}
<td></td>
<td>
    <button type="button" class="cancel_update btn btn-primary">Cancel</button>
    <button type="button" class="update-student btn btn-primary">Update</button>
    <button type="button" class="delete-student btn btn-danger">Delete</button>
</td>
{% endwith %}

{#    <tr>#}
{#        <td colspan="5">#}
{#        </td>#}
{#    </tr>#}
