<form id='delete_form' method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <p>
        <button type="button" class="cancel_delete btn btn-primary">Cancel</button>
        <button type="button" class="delete btn btn-danger">Delete</button>
    </p>
</form>