    <table class="table" id="data-table" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        {% for student in object_list %}
            <tbody class="student">
                <tr class="update_form" style="display: none; background-color: {% cycle "lightgrey" "white" %}"></tr>
                <tr class="student_row" style="background-color: {% cycle "lightgrey" "white" %}">
                    <td class="student_id">{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.date_of_birth }}</td>
                    <td>{{ student.age }}</td>
                    <td>
                        <button class="update btn btn-primary" type="button">Update</button>
                    </td>
                </tr>
            </tbody>
        {%  endfor %}
    </table>