{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
    <br>
        <h3>Contact us</h3>
        <div class="container">
            <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                {{ form|as_bootstrap_horizontal }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
{% endblock content %}