{% extends "base.html" %}
{% load bootstrap_tags %}
{% load core_tags %}

{% block content %}
    <br>
        <div class="container">
            <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
{#                {{ form|as_bootstrap_horizontal }}#}
                <button type="submit" class="btn btn-primary">{{ button_name }}</button>
            </form>
        </div>
{% endblock content %}
