{% extends "base.html" %}
{% load core_tags %}

{% block content %}
    <br>
    <form class="form-actions" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <p>
            <button type="button" class="btn btn-primary">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </p>
    </form>
{% endblock content %}