{% extends "base.html" %}
{% load core_tags %}

{% block content %}
        <div class="container"><br>
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title">Group: {{ group.name }}</h5>
                <p class="card-text">Teacher: {{ group.teacher }}</p>
                <p>Students:</p>
                  {% for student in group.students.all %}
                    {{ student.name }}
                    <br>
                  {% endfor %}
              </div>
            </div><br>
        </div>
{% endblock content %}
