{% extends "base.html" %}
{% load core_tags %}

{% block content %}
        <div class="container"><br>
            <div class="card col-md-12">
              <div class="card-body">
                <h5 class="card-title">Teacher: {{ teacher.name }}</h5>
                <p class="card-text">email: {{ teacher.email }}</p>
                <p>Groups:</p>
                  {% for group in teacher.group_set.all%}
                    {{ group.name }}
                  {% endfor %}
              </div>
            </div><br>
        </div>
{% endblock content %}

