{% extends "base.html" %}
{% load core_tags %}

{% block content %}
        {% for group in object_list %}
            <div class="container"><br>
                <div class="card col-md-12">
                  <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></h4>
                    <p class="card-text"><a href="{% url 'teacher_detail' group.teacher_id %}">{{ group.teacher_name }}</a></p>
                    {% with group.get_statistic as statistic %}
                        <p class="card-text">Number of students: {{ statistic.student_count }}</p>
                        <p class="card-text">Maximum age of students: {{ statistic.max_age }}</p>
                        <p class="card-text">Minimum age of students: {{ statistic.min_age }}</p>
                        <p class="card-text">Average age of students: {{ statistic.avg_age }}</p>
                    {% endwith %}
                  </div>
                </div><br>
            </div>
        {% endfor %}
{% endblock content %}
