{% extends "base.html" %}
{% load core_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "core/css/student.css" %}">
{% endblock css %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static "core/js/student_crud.js" %}"></script>
    <script src="{% static "core/js/carousel.js" %}"></script>
{% endblock js %}


{% block content %}
    <br>
    <div class="carousel row" >
        <button class="img_prev btn btn-primary column left" type="button">Prev</button>
        <div class="img_set column middle">
            {% for path in list_img_path %}
                <img class="student_image" src="{% static path %}" style="display: none;">
            {% endfor %}
        </div>
        <button class="img_next btn btn-primary column right" type="button">Next</button>
    </div>
    <br>
    <h3 align="center">All students</h3>
    <br>
    <div id="add_student" class="table">
        <button class="add_button btn btn-primary" type="button"> + Add student</button>
    </div>
    <div class="delete_student_modal"></div>
    <table class="table" id="data-table" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        {% for student in object_list %}
            <tbody class="student">
                <tr class="update_form" style="display: none; background-color: {% cycle "lightgrey" "white" %}"></tr>
                <tr class="student_row" style="background-color: {% cycle "lightgrey" "white" %}">
                    <td class="student_id">{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.date_of_birth }}</td>
                    <td>{{ student.age }}</td>
                    <td>
                        <button class="update btn btn-primary" type="button">Edit</button>
                    </td>
                </tr>
            </tbody>
        {%  endfor %}
    </table>
{% endblock content %}