{% extends "base.html" %}
{% load core_tags %}

{% block content %}
        {% for teacher in object_list %}
        <div class="container"><br>
            <div class="card col-md-12">
              <div class="card-body">
                <h4 class="card-title"><a href="{% url 'teacher_detail' teacher.id %}">{{ teacher.name }}</a></h4>
                <p class="card-text">{{ teacher.email }}</p>
              </div>
            </div><br>
        </div>
        {% endfor %}
{% endblock content %}
