<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate {{number}} users</title>
</head>
<body>
    <h2>generate {{number}} users</h2>
    <form method="get">
        <input class="form-control" type="number" min="0" step="1" name="number" placeholder="required number of users">
        <button class="btn btn-primary">generate</button>
    </form>
    <ul>
        {% for user in users %}
            <li> {{ user['name'] }} {{ user['email'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
