<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requirements</title>
</head>
<body>
    <h2>requirements.txt</h2>
    <ul>
        {% for line in data%}
            <li>{{ line }}</li>
        {% endfor %}
    </ul>
</body>
</html>

