<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spacemans</title>
</head>
<body>
    <h2>There are now {{ number }} astronauts in orbit:</h2>
    <ul>
        {% for p in people %}
            <li> {{ p['craft'] }} {{ p['name'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
