<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>{{title}}</h2>
        <div class="row">
            <div class="col-md-12">
                <form method="post" novalidate>
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label }}
                            {{ field }}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    <input style="width: 100%" class="btn btn-primary" type="submit" value="ADD">
                </form>
                <br>
                <a href="/library/" class="btn btn-primary" style="width: 100%">BACK TO THE LIBRARY</a>
            </div>
        </div>
    </div>
</body>
</html>
