<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>{{title}}</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Genre</th>
                        <th></th>
                    </tr>
                    {% for book in books %}
                    <tr>
                        <th>{{ book.name }}</th>
                        <th>
                            <a href="/library/author/{{ book.author.id }}/">{{ book.author.name }}</a>
                        </th>

                        <th>
                            <a href="/library/year/{{ book.year }}/">{{ book.year }}</a>
                        </th>

                        <th>
                            <a href="/library/genre/{{ book.genre.id }}/">{{ book.genre.name }}</a>
                        </th>
                        <th>
                            <a href="/library/update/book/{{ book.id }}" class="btn btn-primary">UPDATE</a>
                        </th>
                    </tr>
                    {% endfor %}
                </table>

                {% if title=='All books' %}

                    <div style="width: 100%">
                        <br>
                        <a href="/library/create/book/" class="btn btn-primary" style="float: none; width: 100%">ADD BOOK</a>
                        <br>
                        <a href="/library/create/author/" class="btn btn-primary" style="float: left; width: 49%">ADD AUTHOR</a>
                        <a href="/library/create/genre/" class="btn btn-primary" style="float: right; width: 49%">ADD GENRE</a>
                    </div>
                {% else %}
                    <br>
                    <a href="/library/" class="btn btn-primary" style="width: 100%">GO TO THE ALL BOOKS</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
