<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        {#        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <style>
            .row {
              display: flex;
            }
            .column {
              flex: 50%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row" style="height: 100%">
                <div class="column">
                    <div class="col-12" style="height: 10%; border: 1px solid black; padding-top: 15px;">
                        <h1 style="text-align: center">All offers</h1>
                    </div>
                    <div class="col-12" style="height: 90%; border: 1px solid black; padding-top: 15px; overflow: scroll">
                        {% for lot in all_lots %}
                            <div class="alert alert-success" role="alert">
                                <a href="/offers/{{ lot.id }}"><b>{{ lot.owner }}: </b>{{ lot }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="column">
                    <div class="col-12" style="height: 10%; border: 1px solid black; padding-top: 15px;">
                        <h1 style="text-align: center">My offers</h1>
                    </div>
                    <div class="col-12" style="height: 60%; border: 1px solid black; padding-top: 15px; overflow: scroll">
                        {% for lot in my_lots %}
                            {% if lot.is_active %}
                                <div class="alert alert-success" role="alert">
                                    <a href="/offers/{{ lot.id }}">{{ lot }}</a>
                                </div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    {{ lot }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12" style="height: 30%; border: 1px solid black; padding-top: 15px;">
                        <form method="post" novalidate>
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label }}
                                    {{ field }}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <input style="width: 100%" class="btn btn-primary" type="submit" value="ADD">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
