<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        {#        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>{{ lot.name }}</h1>
            <h3 id="current_price">
                {% if lot.new_price %}
                    {{ lot.new_price }}
                {% else %}
                    {{ lot.price }}
                {% endif %}
            </h3>
            <div class="row" style="height: 100%">
                <div class="col-12" style="height: 60%; border: 1px solid black; padding-top: 15px; overflow: scroll" id="chat">

                </div>
                <div class="col-12" style="height: 20%; border: 1px solid black; padding-top: 15px;">
                    <div class="form-group">
                        <input class="form-control" id="input_message">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" id="send" style="width: 100%">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const ws = new WebSocket('ws://'+ window.location.host + window.location.pathname +'/ws');
            let current_price = $('#current_price').text()

            ws.onmessage = function(message) {
                console.log(ws)
                const data = JSON.parse(message.data)
                const messageHtml = $('<div class="alert alert-success" role="alert">' +
                    '                        <b>'+ data.name +': </b>' + data.message +
                    '                  </div>');

                $('#chat').append(messageHtml);

                if (!isNaN(data.message)) {
                    current_price = data.message
                    $('#current_price').text(current_price)
                }
            };


            $('#send').click(function () {
                console.log('click send')
                const input = $('#input_message');
                const message = input.val();
                ws.send(message);
                input.val('');
            });


            {#$('#send').click(function () {#}
                {#console.log('post')#}
                {#$.post(window.location.href, dataToSend);#}
            {#    let myjson = JSON.stringify(mylot);#}
            {#    ws.send(myjson)#}

            {# });#}
        </script>
    </body>
</html>
