<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-4 offset-4">
                <form method="post">
                    {% if error %}
                    <div style="color: red;">
                        ENTER NICKNAME!
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" name="nickname" class="form-control" id="nickname" placeholder="Enter nickname">
                    </div>
                    <div class="form-group">
                        <button style="width: 100%;" type="submit" class="btn btn-primary">ENTER!</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
